# test config, attempts overfit
wandb_log: true
wandb_project: 'daisy-pico-overfit'
wandb_run_name: 'pico-overfit-dclm-baseline-mps'
# Torch config
torch.coordinate_descent_tuning: false
# Pretraining configuration
train_shards: "data/overfit/dclm_baseline_overfit_1M.bin"
target_tokens: 20_971_520
cooldown_frac: 0.95
learning_rate_schedule: linear_decay
learning_rate_floor: 0.5
training_sequence_length: 8192        #  N * 1024; must be divisible by window_block_size
train_attention_window_len: 1024        # largest sliding attention window used during training; must be divisible by window_block_size
# Optimizers configuration
optimizers:
  - type: AdamW
    betas: [0.8, 0.95]
    eps: 1.0e-10
    weight_decay: 0.0
    fused: true
    params:
      - group: head_params
        lr: 0.004
      - group: embed_params
        lr: 0.2
      - group: scalar_params
        lr: 0.015
  - type: Muon
    momentum: 0.95
    weight_decay: 0.0
    params:
      - group: hidden_matrix_params
        lr: 0.02
full_windows: false
# Gradient accumulation
grad_acc_steps: 16
# Evaluations
# NOTE: we don't care about val loss since we're overfitting on the training data
val_shards:
  - type: "dclm-baseline-overfit"
    path: "data/overfit/dclm_baseline_overfit_1M.bin"
    target_tokens: 4
    sequence_length: 4
val_loss_every_tokens: 999_999_999_999
# Checkpoints
save_checkpoint: false
checkpoint_warmup_tokens:     1
checkpoint_per_n_tokens:      1
# Model Definition
model_spec: daisy_pico_256